<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        body {
            font-family: 'Roboto Mono', monospace;
        }
        .bg-custom-green {
            background-color: #40960d;
        }
    </style>
</head>
<body class="bg-green-100 text-gray-800">
    {% include 'logged_header.html' %}
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold text-center text-gray-900 mb-6">Dashboard</h1>
        <div class="bg-white p-6 rounded shadow-md mb-6">
            <div id="chart"></div>
        </div>
        <div class="bg-white p-6 rounded shadow-md">
            <div id="quiz-chart"></div>
        </div>
    </div>

    <script>
        var chartOptions = {
            series: {{ chart_data.series | tojson }},
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            xaxis: {
                categories: {{ chart_data.categories | tojson }}
            },
            yaxis: {
                title: {
                    text: 'Nombre'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val;
                    }
                }
            }
        };

        var quizChartOptions = {
            series: {{ quiz_chart_data.series | tojson }},
            chart: {
                type: 'line',
                height: 350
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            xaxis: {
                categories: {{ quiz_chart_data.categories | tojson }}
            },
            yaxis: {
                title: {
                    text: 'Pourcentage de bonnes réponses (%)'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + "%";
                    }
                }
            },
            stroke: {
                curve: 'smooth',
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), chartOptions);
        chart.render();

        var quizChart = new ApexCharts(document.querySelector("#quiz-chart"), quizChartOptions);
        quizChart.render();
    </script>
</body>
</html>
