<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <header>
        <div class="left">
            <a href="{{ url_for('main.index') }}">Accueil</a>
        </div>
        <div class="right">
            <a href="{{ url_for('auth.signup') }}">Créer un compte</a>
            <a href="{{ url_for('auth.login') }}">Se connecter</a>
        </div>
    </header>
</body>
</html>
