<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        body {
            font-family: 'Roboto Mono', monospace;
        }
        .bg-custom-green {
            background-color: #40960d;
        }
    </style>
</head>

<body class="bg-green-100 text-gray-800 flex flex-col min-h-screen">
    {% include 'logged_header.html' %}
    <div class="container mx-auto mt-8 p-4 flex-grow">
        <h1 class="text-3xl font-bold text-center text-gray-900">Quiz</h1>
        <div class="py-8">

            <form id="formQuizz" method="post" action="{{ url_for('quiz.quiz') }}" class="max-w-md mx-auto bg-white shadow-md rounded px-8 py-6">
                <h3 class="text-xl font-bold mb-4">Question pour: {{ player }}</h3>
                <p class="mb-4">{{ question.question }}</p>
                <div>
                    <label class="block mb-2">
                        <input id ="radio1" type="radio" name="answer" value="{{ question.aws1 }}" class="mr-2 leading-tight">
                        <span class="text-sm">1 : {{ question.aws1 }}</span>
                    </label>
                    <label class="block mb-2">
                        <input id ="radio2" type="radio" name="answer" value="{{ question.aws2 }}" class="mr-2 leading-tight">
                        <span class="text-sm">2 : {{ question.aws2 }}</span>
                    </label>
                    <label class="block mb-2">
                        <input id ="radio3" type="radio" name="answer" value="{{ question.aws3 }}" class="mr-2 leading-tight">
                        <span class="text-sm">3 : {{ question.aws3 }}</span>
                    </label>
                    <label class="block mb-2">
                        <input id ="radio4" type="radio" name="answer" value="{{ question.aws4 }}" class="mr-2 leading-tight">
                        <span class="text-sm">4 : {{ question.aws4 }}</span>
                    </label>
                </div>
                <!-- <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Next</button> -->
            </form>

           <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" id="startButton">Start Capture</button> -->
            <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" id="stopButton" disabled>Stop Capture</button> -->
            <audio class="hidden" id="audioPlayer" controls></audio>
            <!-- <div id="pred">Réponse donnée: </div>  -->
            <div id="countdown"> <span></span></div>

        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/capture.js') }}"></script>
</body>

</html>
