<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        body {
            font-family: 'Roboto Mono', monospace;
        }
        .bg-custom-green {
            background-color: #40960d;
        }
        .bg-custom-red {
            background-color: #e53e3e;
        }
    </style>
</head>

<body class="bg-green-100 text-gray-800 flex flex-col min-h-screen">
    {% include 'logged_header.html' %}
    <div class="container mx-auto mt-8 p-4 flex-grow text-center">
        <h3 class="text-xl font-bold mb-4">Question pour: {{ player }}</h3>
        <div class="py-8 text-left">

            <form id="formQuizz" method="post" action="{{ url_for('quiz.quiz') }}" class="max-w-md mx-auto bg-white shadow-md rounded px-8 py-6">
                <p class="mb-4">{{ question.question }}</p>
                <div>
                    {% for answer in answers %}
                    <label class="block mb-2">
                        <input id="radio{{ loop.index }}" type="radio" name="answer" value="{{ answer }}" class="mr-2 leading-tight">
                        <span class="text-sm">{{ loop.index }} : {{ answer }}</span>
                    </label>
                    {% endfor %}
                </div>
            </form>
            <audio class="hidden" id="audioPlayer" controls></audio>
            <div id="countdown"> <span></span></div>

        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/capture.js') }}"></script>
</body>

</html>
