<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Starter</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script>
        function startTimer() {
            var countdownElement = document.getElementById('countdown');
            var timeLeft = 5;

            var timer = setInterval(function() {
                if (timeLeft <= 0) {
                    clearInterval(timer);
                    window.location.href = "{{ url_for('quiz.quiz') }}";
                } else {
                    countdownElement.innerHTML = timeLeft + " secondes restantes";
                }
                timeLeft -= 1;
            }, 1000);
        }
        window.onload = startTimer;
    </script>
</head>
<body class="bg-gray-100 text-gray-800">
    {% include 'logged_header.html' %}
    <h1 class="text-3xl font-bold text-center my-8">Ton Quiz va commencer</h1>
    <ul class="container mx-auto">
        {% for player in players %}
            <li class="mb-2">{{ player }}</li>
        {% endfor %}
    </ul>
    <p class="text-center my-4">{{ questions_per_player }}</p>
    <p id="countdown" class="text-center text-xl font-semibold">5 secondes restantes</p>
</body>
</html>
