<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Summary</title>
</head>
<body>
    {% include 'logged_header.html' %}
    <h1>Résumé du quiz</h1>
    {% for player in player_scores %}
        <h2>Score de {{ player.player }}: {{ player.score }}</h2>
        <ul>
            {% for question in player.question_details %}
                <li>
                    <strong>Question:</strong> {{ question.question }}<br>
                    <strong>Réponse sélectionnée:</strong> {{ question.selected_answer }}<br>
                    <strong>Réponse correct:</strong> {{ question.correct_answer }}<br>
                    <strong>Resultat:</strong> {{ 'Correct' if question.is_correct else 'Incorrect' }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
